$base_color: #ff3f61;
$base_black: #2f2f2f;
$base_gray: #878787;

$gray--secondary: rgba(135, 135, 135, 0.15);

$shadow--primary-1: 0 2px 12px 2px rgba(255, 63, 97, 0.3);
$shadow--secondary-1: 0 2px 12px 2px rgba(135, 135, 135, 0.3);
